.badge {
    font-size: 1rem;
    color: #FFFFFF;
}
.type-stog {
    font-family: 'Source Code Pro', monospace;
}
.type-icl {
    background-color: #FDBA48;
    color: #000000;
}
.type-ic {
    background-color: #EF4130;
}
.type-other {
    background-color: #50B748;
}
.type-sa {
    background-color: #00B2FF;
}
.type-sb {
    background-color: #50B848;
}
.type-sbx {
    background-color: #A6CE39;
}
.type-sc {
    background-color: #F58A1F;
}
.type-se {
    background-color: #7670B2;
}
.type-sf {
    background-color: #FFC20E;
}
.type-sh {
    background-color: #EF4130;
}
.type-lightrail {
    background-color: #254A5D;
}
.type-citybus {
    background-color: #FDAE00;
    color: #000000;
}
.type-xbus {
    background-color: #0065AA;
}
.state-cancel {
    background-color: #CB3539;
}
.state-new {
    background-color: #128193;
}
.table-danger {
    background-color: #DC3545;
}
body {
    background-color: #343a40;
    font-family: 'Oxygen', sans-serif;
}