<!DOCTYPE html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noarchive"> <!-- Supposed to disable caching -->
    <link href="https://fonts.googleapis.com/css?family=Oxygen|Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="static/css/styles.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!--<script src="static/js/main.js"></script>-->
</head>
<body>
    <table class="table table-striped table-dark table-borderless">
        <thead>
            <tr>
                <th>Tid</th>
                <th>Tognummer</th>
                <th>Retning</th>
                <th>Spor</th>
            </tr>
        </thead>
        <tbody>
        {% for i in range(19) %}
        {% if deps[i]["state"] == 'CANCELLATION' %}
            <tr class="state-cancel">
        {% elif deps[i]["state"] == 'NEW' %}
            <tr class="state-new">
        {% else %}
            <tr>
        {% endif %}
            {% if deps[i]["rtTime"] and deps[i]["time"] %}
                <td><span class="badge badge-danger">{{ deps[i]["rtTime"] }} ({{ deps[i]["time"] }})</span></td>
            {% elif deps[i]["rtTime"] %}
                <td>{{ deps[i]["rtTime"] }}</td>
            {% elif deps[i]["time"] %}
                <td>{{ deps[i]["time"] }}</td>
            {% endif %}
            {% if deps[i]["type"] == "IC" %}
                <td><span class="badge type-ic">{{ deps[i]["name"] }}</span></td>
            {% elif deps[i]["type"] == "LYN" %}
                <td><span class="badge type-icl">{{ deps[i]["name"] }}</span></td>
            {% elif deps[i]["type"] == 'LET' %}
                <td><span class="badge type-lightrail">{{ deps[i]["name"] }}</span></td>
            {% elif deps[i]["type"] == 'BUS' %}
                <td><span class="badge type-citybus">{{ deps[i]["name"] }}</span></td>
            {% elif deps[i]["type"] == "EXB" %}
                <td><span class="badge type-xbus">{{ deps[i]["name"] }}</span></td>
            {% elif deps[i]["type"] == 'S' and deps[i]["line"] == 'A' %}
                <td><span class="badge type-stog type-sa">{{ deps[i]["line"] }}</span></td>
            {% elif deps[i]["type"] == 'S' and deps[i]["line"] == 'B' %}
                <td><span class="badge type-stog type-sb">{{ deps[i]["line"] }}</span></td>
            {% elif deps[i]["type"] == 'S' and deps[i]["line"] == 'Bx' %}
                <td><span class="badge type-stog type-sbx">{{ deps[i]["line"] }}</span></td>
            {% elif deps[i]["type"] == 'S' and deps[i]["line"] == 'C' %}
                <td><span class="badge type-stog type-sc">{{ deps[i]["line"] }}</span></td>
            {% elif deps[i]["type"] == 'S' and deps[i]["line"] == 'E' %}
                <td><span class="badge type-stog type-se">{{ deps[i]["line"] }}</span></td>
            {% elif deps[i]["type"] == 'S' and deps[i]["line"] == 'F' %}
                <td><span class="badge type-stog type-sf">{{ deps[i]["line"] }}</span></td>
            {% elif deps[i]["type"] == 'S' and deps[i]["line"] == 'H' %}
                <td><span class="badge type-stog type-sh">{{ deps[i]["line"] }}</span></td>
            {% else %}
                <td><span class="badge type-other">{{ deps[i]["name"] }}</span></td>
            {% endif %}
                <td>{{ deps[i]["direction"] }}</td>
            {% if deps[i]["rtTrack"] %}
                <td>{{ deps[i]["rtTrack"] }}</td>
            {% elif deps[i]["track"] == 'O' %}
                <td>0</td>
            {% else %}
                <td>{{ deps[i]["track"] }}</td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>